:root{
    --MyBlue: #334195;
    --Border: #1985A1;
}
@font-face {
    font-family: TrySeuz;
    src: url(Suez_One/SuezOne-Regular.ttf);
}

*{
    font-family: TrySeuz;
    color:blanchedalmond;
    padding: 1vw;
}

body{
    background-color: var(--MyBlue);
    border: 5px solid var(--Border) ;
}

.type2 {
    background-image: url(spongebob.jpeg);
}
.type3 {
    background-image: linear-gradient(to right,#00B4D8,#0096C7,#0077B6,#023E8A);
    border: 5px solid var(--Border) ;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
  }
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
 @keyframes Strobe
 {
    0% {color: #ffffff;}
    25% {color: #ffffff00;}
    50% {color: #ffffff;}
    75% {color: #ffffff00;}
    100% {color: #ffffff;}
 }

h1{
    animation-name: Strobe;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}