<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/GigoStyle.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gigo</title>
</head>
<body class="type3">
    <div class="grid-container">
        <div class="grid-item">Table:
             <table>
                <tr><th>X</th><th>A</th><th>B</th></tr>
                <tr><td>C</td><td>ac</td><td>bc</td></tr>
            </table>
        </div>

        <div class="grid-item"><h1>Exercise 4</h1></div>

        <div class="grid-item">
            List:
            <ol>list1</ol>
            <ol>list2</ol>
        </div> 

        <div class="grid-item"></div>
        <div class="grid-item"><h1>Shachar Drori</h1></div>
        <div class="grid-item"></div>

        <div class="grid-item"><img src="../static/spongebob.jpeg" width="400" height="300"></div>
        <div class="grid-item"></div>
        <div class="grid-item"><a href="../static/page2.html">Page 2</a></div>  
      </div>
    </div> 
</body>
</html>