<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drori's Page</title>
    <script defer src="../static/script.js"></script>
</head>
<body>

    <div class="GridContainer">
        <div class="item1">
            <h1 id="demo">header</h1>
        </div>
        <div class="item2">
            <h2> 1st box</h2>
        </div>
        <div class="item3">
            <h1>2nd box</h1>
        </div>
        <div class="item4">
            <ol>
                <li>1st item</li>
                <li>2nd item</li>
                <li>this is a list</li>
            </ol>
        </div>
        <div class="item5">
            <h3>Bottom-Right</h3>
        </div>
    </div>
    
</body>
</html>